.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  /* background-color: burlywood; */
}
.app{
  margin: auto;
  text-align: center;

}
header{
  color: white;
  /* height: 80px; */
  min-height: 60px;
  background-color: rgb(237, 0, 118);
  /* position: fixed; */
  top: 0%;
  right: 0;
  left: 0;
  /* z-index: 999; */
}
.menu{
  /* background-color: yellow;
  width: 500px;
  height: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50% ,  -50%);
  transition: 1s;
  text-align: center; */
  /* width: 1350px; */
  /* margin: auto; */
  /* margin: 90px 20px; */
  
  

  
}

h1{
text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-top:15px ;
  

}
.item{
  border: 1px solid rgb(223, 218, 189);
  margin-top: 10px;
  border-radius: 20px 20px 0px 0px;
  
}
.item h2{
  border-radius: 20px 20px 0px 0px;
  margin:  0px;
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: rgb(255, 0, 128);
  text-align: left;
  cursor: pointer;
}

.item p{
  text-align: left;
  padding: 0px;
  height: 0px;
  transform: scaleY(0);
  transition: 1s;
  

}

.ans{
  font-size: 15px;
  margin-top: 5px;
  /* font-weight: bold; */
  color: black;
  visibility: hidden;
  
}
.screen{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(18, 15, 15, 0.557);
  transition: 2s;
  
}
.en{
  position: fixed;
  right: 0px;
  top: 100px;
  left: 1430px;
  transform: rotate(90deg);
  background-color: red;
  padding: 1px;
  min-width: 30px;
  min-height: 50px;

}
.tab{
    height: auto !important;
    transform: scaleY(1) !important;
  padding: 10px !important;
  /* transition: 1s; */
    
  
 

}
