.store{
    
    text-align: center;
    background-color: rgb(193, 197, 238);
 
}
.mainBox{
/* height: 600px; */
display: flex;

}
.mImg{
    height: 200px;
}
.noData{
    font-size: 25px;
 font-weight: 700;
 color: black;
 margin-top: 27%;
}

.heading{
 font-size: 25px;
 font-weight: 700;
 color: black;
}

.ctgry{
    /* background-color: yellow; */
    margin: 5px;
    flex-basis: 25%;
    /* height: 700px; */

}
.ctgry ul li{
    background-color: aliceblue;
    margin-top: 10px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.ctgry ul li:hover{
    /* background-color: rgb(255, 0, 123); */
    /* font-size: 17px; */
    /* color: white; */
    transition: 1.3s;
    text-transform: uppercase;
}

.product{
    /* background-color: rgb(0, 183, 255); */
    flex-basis: 75%;
    
}

.pContainer{
    display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
}

.mContainer{
    background-color: aliceblue;
    margin: 10px;
    padding: 15px 30px;
    border-radius: 10px;
    /* min-width: 250px; */
    max-width: 250px;
    max-height: 300px;
    /* 
  
    
    text-align: center;
     */
}